// Import default padding, margin, fonts, colors, etc.
@import '../../../styles/defaults';

.form-select__selectContainer {
  position: relative;
  display: block;
  width: 100%;

  .form-select__selectBox {
    background: #fff;
    padding: $sPadding;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.form-select__selectBox_open {
      &::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 80;
        display: block;
        cursor: default;
        content: " ";
        background: transparent;
      }
    }

    .form-select__selectArrow {
      width: 10px;
      height: auto;
    }
  }

  .form-select__selectOptions {
    background: #fff;
    width: 100%;
    position: absolute;
    z-index: 999;

    .form-select__selectOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      &:hover {
        background: #eee;
        cursor: pointer;
      }

      .form-select__selectOptionName {
        font-weight: bold;
      }

      .form-select__selectOptionType {
        background: #ccc;
        padding: 5px;
      }
    }
  }

  // Scrollbar styles
  .ScrollbarsCustom {
    border: 1px solid #ccc;
  }
  .trackYVisible {
    background: #eee;
  }
  .ScrollbarsCustom-ThumbY {
    border-radius: 0px !important;
  }
  .ScrollbarsCustom-TrackY {
    border-radius: 0px !important;
    height: 100% !important;
    top: 0px !important;
  }
}
