// Import default padding, margin, fonts, colors, etc.
@import '../../styles/defaults';

.preferences__pageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;

  .preferences__pageBlock {
    width: calc(100% - (#{$sMargin} * 2));
    max-width: 600px;
    margin: $mMargin $sMargin 0;
    padding: $mPadding;
    border: 2px solid $pastelGray;

    .preferences__searchLink {
      display: block;
    }
  }
}
