// Import default padding, margin, fonts, colors, etc.
@import '../../../styles/defaults';

.dashboard-recipeCard__recipeCard {
  border: 2px solid $silverSand;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 0 32%;
  margin-bottom: 2%;

  .dashboard-recipeCard__recipeCardDetails {
    padding: $sPadding;

    .dashboard-recipeCard__recipeCardName {
      text-align: center;
      padding-bottom: $sPadding;
      margin-bottom: $sMargin;
      border-bottom: 1px solid $silverSand;
    }

    .dashboard-recipeCard_recipeCardStats {
      display: flex;
      justify-content: space-between;
    }
  }

  .dashboard-recipeCard__recipeCardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $sPadding;
    width: 100%;
    height: 200px;
    background: $pastelGray;
  }
}
